@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication

@model LoginViewModel
@inject SignInManager<AdminUser> SignInManager

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>登录中心</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="~/login/css/login.min.css">
    <script src="~/login/js/login.min.js"></script>
</head>

<body>
    <section class="eternity-form colorBg1 colorBg active" id="login">
        <div class="container">

            <div class="login-form-section">
                <div class="login-content  animated bounceIn" data-animation="bounceIn">
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div class="section-title">
                            <h3 class="h3">数据中心平台欢迎你</h3>
                        </div>

                        <div class="login-error-message">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" id="flash-alert" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <button class="close" data-dismiss="alert">×</button>

                                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                                </div>
                            }
                        </div>

                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                <input asp-for="Email" type="text" required="required" class="form-control" placeholder="邮箱" autocomplete="off">
                            </div>
                            <div class="input-group">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-key icon-color"></i></span>
                                <input asp-for="Password" type="password" required="required" class="form-control " placeholder="密码" autocomplete="off">
                            </div>
                            <div class="input-group">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="login-form-action clearfix">
                            <div class="checkbox pull-left">
                                <div class="custom-checkbox">
                                    <div class="icheckbox_square-blue" style="position: relative;">
                                        <input asp-for="RememberMe" type="checkbox" checked="" name="iCheck">
                                    </div>
                                </div>
                                <span class="checkbox-text pull-left">记住我</span>
                            </div>

                            <button type="submit" class="btn btn-success pull-right green-btn">
                                登录&nbsp;
                                <i class="icon-chevron-right"></i>
                            </button>
                        </div>

                    </form>
                </div>

                @*<div class="login-form-links animated fadeInRightBig ts-20" data-animation="fadeInRightBig" data-animation-delay=".4s">
                    <p>
                        <a href="#" class="blue pull-right aligment-height">注册账号<i class="icon-hand-left"></i></a>
                        <a href="#" class="green pull-left  aligment-height"><i class="icon-question-sign"></i>忘记密码</a>
                    </p>
                </div>*@
            </div>

        </div>
    </section>
</body>

</html>